@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0 auto;
}

body {
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
  opacity: 0;
  transition: opacity 0.75s;
  -webkit-transition: opacity 0.75s; /* Safari */
}

.header {
  height: 100vh;
  width: 100vw;
  background: rgb(23, 49, 89);
  background: #0082ff;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.header-shade {
  background-color: rgba(0, 0, 0, 0.86);
  height: 100vh;
  width: 100vw;
  position: absolute;
  left: 0;
  top: 0;
}

.header-container {
  padding: 5vh 5vw;
  display: grid;
  grid-template-columns: auto auto;
  height: 90vh;
  color: white;
  text-align: center;
}

.header-container div {
  display: grid;
  align-content: center;
}

.logo {
  max-width: 550px;
  min-width: 25vw;
  height: auto;
  opacity: 0;
  animation-name: fadein;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-delay: 0.95s;
}

.mockup {
  max-height: 80vh;
  opacity: 0;
  animation-name: fadein;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-delay: 0.75s;
}

.downloads {
  padding-top: 1.6em;
  width: 67%;
  text-align: left;
  display: inline !important;
  opacity: 0;
  animation-name: fadein;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-delay: 1.05s;
}

.downloads a {
  margin-right: 0.3em;
  margin-left: 0;
  color: white;
  text-decoration: none;
  border: 1px solid white;
  border-radius: 7px;
  padding: 0.6em 1em;
  text-transform: uppercase;
  line-height: 3.75em;
  transition: 0.2s;
  position: relative;
  white-space: nowrap;
}

.downloads a img {
  height: 1em;
  margin-right: 0.6em;
  transform: translateY(0.1em);
  transition: 0.2s;
}

.downloads a:hover {
  background: white;
  color: #3a3a3a;
}

.downloads a:hover img {
  filter: brightness(0.2);
}

/*
.downloads a:first-child::after {
  content: 'early access';
  color: rgba(255,255,255,0.4);
  text-transform: none;
  font-weight: normal;
  position: absolute;
  bottom: -3.3em;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 0.7em;
}
*/

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

h1 {
  opacity: 0;
  font-size: 4vw;
  animation-name: fadein;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-delay: 0.75s;
}

h2 {
  opacity: 0;
  font-size: 1.3em;
  animation-name: fadein;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-delay: 1.25s;
}

#downButton {
  opacity: 0;
  position: absolute;
  bottom: 10vh;
  left: 50%;
  animation-fill-mode: forwards;
  transform: translateX(-50%);
  color: #fff;
  cursor: pointer;
  animation-name: fadein, float;
  animation-duration: 1s, 3.5s;
  animation-iteration-count: 1, infinite;
  animation-delay: 1.75s, 2s;
}

a > .material-icons-round {
  font-size: 2.5em !important;
}

@keyframes float {
  0% {
    bottom: 10vh;
  }
  50% {
    bottom: 13vh;
  }
  100% {
    bottom: 10vh;
  }
}

.fading-slow {
  animation-name: fadein;
  animation-duration: 2s;
  animation-delay: 0.4s;
  animation-fill-mode: forwards;
}

.fading {
  animation-name: fadein;
  animation-duration: 1s;
  animation-delay: 0s;
  animation-fill-mode: forwards;
}

.about {
  padding-top: 3em;
  min-height: calc(100vh - 3em);
  width: 100vw;
  background-color: black;
  overflow: hidden;
  display: grid;
}

::-webkit-scrollbar {
  width: 0;
  display: none;
}

.about-container {
  position: relative;
  width: 100%;
  color: white;
  text-align: left;
  display: grid;
  align-content: center;
  height: 100%;
}

.about-container h1 {
  font-size: 2.2em;
}

.about-container h1,
p,
article {
  min-width: 40%;
  width: 70%;
  max-width: 80%;
  text-align: left;
}

.about-container p,
.about-container article {
  color: #999999;
}

.about-container p a,
.about-container article a {
  color: white;
}

article ul {
  list-style-position: inside;
}

article {
  opacity: 0;
  animation-name: fadein;
  animation-duration: 2s;
  animation-delay: 0.9s;
  animation-fill-mode: forwards;
}

.inset {
  margin-left: 20px;
}

* {
  padding: 0;
  margin: 0 auto;
}

#navbar {
  width: 100%;
  height: 35px;
  position: fixed;
  top: 0;
  background: rgba(0, 0, 0, 0.55);
  z-index: 1;
  backdrop-filter: blur(13px);
}

#navbar nav {
  width: 100%;
  margin-top: 6px;
  margin-left: 3vw;
}

#navbar a {
  color: #fff;
  font-size: 0.8em;
  text-transform: uppercase;
  text-decoration: none;
  margin-right: 1.8em;
  cursor: pointer;
}

#navbar nav ul li:hover {
  opacity: 0.75;
}

@media only screen and (max-width: 600px) {
  .header-container div:first-child {
    display: none;
  }
  .downloads {
    text-align: center;
  }
}
